
[Desktop Entry]
Type=Application
Exec=deluge
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_GB]=deluge
Name=deluge
Comment[en_GB]=
Comment=
