
[Desktop Entry]
Type=Application
Exec=nicotine
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_GB]=nicotine
Name=nicotine
Comment[en_GB]=
Comment=
